<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <title>Movies</title>
  </head>
  <body>
    <div class="container">
      <h1>Add Movies</h1>
      <p>
        <a class="btn btn-link" href="/movies" role="button">Show All Movies</a>
      </p>
      <form action="/movies/add" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" />
        </div>

        <div class="form-group">
          <label for="genres">Genre </label>
          <input type="text" class="form-control" id="genres" name="genres" />
        </div>

        <div class="form-group">
          <label for="year">Year</label>
          <input type="number" class="form-control" id="year" name="year" />
        </div>

        <div class="form-group">
          <label for="photo">Photo</label>
          <input type="file" class="form-control" id="photo" name="photo" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
</html>
